@media (max-width: 1260px) {

    .task-info p span {
        font-size: 2.2vw;
    }

    .task-info p {
        font-size: 2vw;
    }

    .task-info-wrapper {
        height: auto;
    }

    .tasks-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
}

@media (max-width: 860px) {
    .tasks-wrapper {
        width: 100%;
        margin-left: 0;
    }

    .tasks-tittle {
        margin-left: 25px;
    }

    .task-info p {
        margin-left: 25px;
        font-size: 3vw;
    }

    .task-info p span {
        font-size: 3.2vw;
    }

    .task-img {
        height: auto;
    }

    .adpt-header {
        font-size: 10vw;
    }

    .task-info-wrapper {
        flex-direction: column;
    }

    .task-info-wrapper>* {
        width: 100%;
    }
}

@media (max-width: 660px) {
    .task-info p {
        font-size: 4vw;
    }

    .task-info p span {
        font-size: 4.2vw;
    }
}