.create-event-form {
	position: relative;
	width: 50%;
	max-height: 750px;
	overflow-y: auto;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 0px 10px #c2c2c2;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-top: 50px;
}

form div {
	position: relative;
	display: flex;
	margin-bottom: 50px;
	width: 80%;
}

form select {
	margin-top: 50px;
	width: 100%;
	height: 50px;
	padding-left: 25px;
	font-size: 18px;
}

form div p {
	position: absolute;
	top: -20px;
	left: 25px;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 400;
	background: #fff;
}

form div input {
	width: 100%;
	height: 50px;
	padding-left: 25px;
	font-size: 18px;
}

form div textarea {
	padding-top: 20px;
	width: 100%;
	height: 250px;
	padding-left: 25px;
	font-size: 18px;
	resize: none;
}

.without-bg {
	background: rgba(0, 0, 0, 0);
}

.photo {
	padding-top: 20px;
}

.back-btn {
	position: absolute;
	bottom: 25px;
	left: 25px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-weight: 800;
	font-size: 20px;
}

form div:last-child input {
	cursor: pointer;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0);
	outline: none;

}