.article {
    width: 100%;
    height: 100%;
  display: flex;
  align-items: center;
}

.article p {
	margin-left: 50px;
	font-size: 28px;
}

.article p span {
	font-weight: 800;
	font-size: 34px;
	color: #2fabd4;
}

.article-animation-opacity {
	transform: translateY(50px);
	opacity: 0;
	transition: 0.8s;
}

.article-show-opacity {
	transform: translateY(0px);
	opacity: 1;
}

.link-table {
  display: flex;
  flex-direction: column; /* Элементы идут друг под другом */
  width: 100%;
  border: 1px solid #ccc;
}

.link-row {
  display: flex; /* Строка становится флекс-контейнером */
  border-bottom: 1px solid #eee;
}

.link-cell {
   flex: 1; /* Все ячейки занимают одинаковую ширину */
  padding: 12px;
}