.events-wrapper {
	position: relative;
	width: calc(100% - 80px);
	margin-left: 80px;
	background: linear-gradient(0deg, rgba(245,246,248,1) 0%, rgba(250,250,250,1) 100%);
}

.events-wrapper .other-pages-tittle {
	margin-bottom: 15px;
}

.head-events {
	width: calc(100% - 50px);
	height: 60vh;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
	margin: 0 auto;
}

.last-event {
	position: relative;
	z-index: 0;
	width: 50%;
	padding-top: 50px;
}

.link-event{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	cursor: url('../images/cursor-pointer.cur'), pointer;
}

.corner-lse {
	position: absolute;
	top: 50px;
	right: 25px;
}

.link-event:hover .corner-lse p {
	font-size: 1.9vw;
}

.corner-lse p {
	font-weight: 800;
	font-size: 2vw;
	color: rgba(0, 0, 0, 0);
	background: linear-gradient(135deg, #ff3573 0%, #1ac6ff 100%);
	background-size: 300% 300%;
	-webkit-background-clip: text;
	user-select: none;
	transition: 0.5s;
	cursor: url('../images/cursor-pointer.cur'), pointer;
}

.link-event:hover .img-event {
	width: 78%;
	height: 68%;
}

.img-event {
	width: 80%;
	height: 70%;
	transition: 0.5s;
	cursor: url('../images/cursor-pointer.cur'), pointer;
}

.img-event img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
	box-shadow: 0px 0px 3px #d4d4d4;
	cursor: url('../images/cursor-pointer.cur'), pointer;

}

.link-event:hover .tittle-event p {
	font-size: 1.7vw;
	cursor: url('../images/cursor-pointer.cur'), pointer;
}

.tittle-event {
	width: 100%;
	height: 28%;
	padding-top: 20px;
}

.tittle-event p {
	font-weight: 800;
	font-size: 1.8vw;
	padding-left: 15px;
	color: #575757;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
}

.event-calendar-wrapper {
	width: 45%;
}

.event-calendar-wrapper iframe{
	width: 100%;
	height: 100%;
	outline: none;
	border: 0;
	border-radius: 10px;
}

.type-events-wrapper {
	width: 100%;
	margin-top: 25px;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.type-events-wrapper ul {
	display: flex;
	justify-content: space-between;
	width: 50%;
	height: 100%;
	align-items: center;
	list-style: none;

}

.type-events-wrapper ul li {
	color: #000;
	font-size: 25px;
	font-weight: 400;
	cursor: url('../images/cursor-pointer.cur'), pointer;
	border-bottom: 1px solid #6a6a6a;
	transition: 0.5s;
}

.type-events-wrapper ul li:hover {
	font-size: 28px;
}

.all-news-wrapper {
	width: 100%;
	margin-top: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.news-block {
	width: 500px;
	height: 300px;
	margin-bottom: 25px;
}

.news-block .tittle-event p {
	font-size: 20px;
}

.news-block .link-event:hover .tittle-event p {
	font-size: 19px;
}