main {
	position: relative;
	z-index: 0;
	width: calc(100% - 80px);
	height: 100vh;
	margin-left: 80px;
	display: flex;
	align-items: center;

}

.bg-video-event {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bg-video-event div {
	position: absolute;
	background-color: rgba(255,255,255,0.7);
	width: 100%;
	height: 100%;
}

.bg-video-event video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.event-wrapper {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.tittle-event {
	font-weight: 800;
	font-size: 48px;
	color: #2fabd4;
	user-select: none;
	width: 90%;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	padding: 5px 40px;
	border: 1px solid #d4d4d4;
}

.content-event-all {
	width: calc(90% + 80px);
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.text-event {
	position: relative;
	width: 45%;
	height: 95%;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	border: 1px solid #d4d4d4;
}

.text-event p {
	padding: 40px 50px;
	font-weight: 400;
	font-size: 1vw;
}

.text-event p:last-child {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 0;
	margin-bottom: 40px;
	font-weight: 800;
	color: #2fabd4;
	font-size: 1.5vw;
}

.video-photo-event {
	width: 50%;
	height: 95%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.video-photo-event div {
	width: 100%;
	height: 47%;
	border-radius: 10px;
}

swiper-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    --swiper-navigation-color: #000;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

swiper-slide img {
    display: block;
    width: 70%;
    height: auto;
    border-radius: 10px;
}

.video-event {
	display: flex;
	justify-content: center;
}

.video-event iframe {
	height: 100%;
	width: 70%;
	border-radius: 10px;
}