.fileview-wrapper {
	position: relative;
	width: calc(100% - 80px);
	margin-left: 80px;
	min-height: 100vh;
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	box-sizing: border-box;
	background: linear-gradient(0deg, rgba(245,246,248,1) 0%, rgba(250,250,250,1) 100%);
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	align-items: center;
}

.fileview-tittle {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 800;
	color: rgba(0, 0, 0, 0);
	font-size: 5vw;
	background: linear-gradient(135deg, #ff3573 0%, #1ac6ff 100%);
	background-size: 300% 300%;
	-webkit-background-clip: text;
	user-select: none;
	margin-top: 25px;
	margin-left: 50px;
}

.fileview-tittle i {
	font-size: 4vw;
	margin-left: 50px;
}

.filemanger-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin-top: 25px;
}

.filestorage-wrapper {
	position: relative;
	width: 94%;
	margin-left: 50px;
	margin-bottom: 75px;
}

.filestorage-tittle {
	position: absolute;
	z-index: 10;
	right: -4px;
	top: 0;
	width: 30%;
	height: 40px;
	background-color: #f2f2f2;
	border: 2px solid #e2e2e2;
	border-bottom: none;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.filestorage-tittle p {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	user-select: none;
}

.filestorage {
	margin-top: 40px;
	position: relative;
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	width: 100%;
	background-color: #f2f2f2;
	border-radius: 10px;
	border: 2px solid #e2e2e2;
	overflow-y: auto;
	border-top-right-radius: 0;
}

.file {
	position: relative;
	z-index: 1;
	width: 120px;
	height: 140px;
	margin-left: 10px;
	transition: 0.3s;
	border-radius: 5px;
}

.file a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: rgb(47, 171, 212);
	text-decoration: none;
}

.file a i {
	font-size: 80px;
}

.file a p {
	margin-top: 5px;
	color: #000;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
	transition: 0.3s;
}



.file:hover {
	background-color: #fff;
}

.file:hover a i {
	font-size: 50px;
}

.file:hover a p{
	display: inline;
}