@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

@font-face {
	font-family: 'resphekt';
	font-style: normal;
	font-weight: bold;
	src: local('resphekt'),
		url('../fonts/ttf/resphekt.ttf') format('ttf'),
		url('../fonts/woff/resphekt.woff') format('woff');
}

* {
	margin: 0;
	padding: 0;
	cursor: url('../images/cursor.cur'), auto;
}

a {
	cursor: url('../images/cursor-pointer.cur'), pointer;
}

a * {
	cursor: url('../images/cursor-pointer.cur'), pointer;
}

html, body {
	position: relative;
	height: auto;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

main {
	position: relative;
	overflow-x: hidden;
	width: 100%;
}

.other-pages-tittle {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 800;
	color: rgba(0, 0, 0, 0);
	font-size: 5vw;
	background: linear-gradient(135deg, #ff3573 0%, #1ac6ff 100%);
	background-size: 300% 300%;
	-webkit-background-clip: text;
	user-select: none;
	margin-left: 50px;
}

.other-pages-tittle i {
	font-size: 4vw;
	margin-left: 50px;
}